/* .signup_modal {
    z-index: 3;
    position: fixed;

} */

.signup_form {
    background-color: #fefefe;
    border: 1px solid rgb(172, 172, 172);
    margin: 15% 30%;
    width: 40%;
    padding: 20px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
    z-index: 3;
    position: fixed;
}


