.toggle_button {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    height: 24px;
    background: transparent;
    border: none;
    width: 30px;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle_button:focus {
    outline: none;
}

.toggle_button_line {
    background: black;
    width: 30px;
    height: 2px;
}